.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
  padding: 0 20px;
}

.authImageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  padding: 20px;
  border-radius: 15px; /* Same as landing page */
  margin-right: 20px; /* Similar margin to create space */
}

.authImage {
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* Consistent border radius */
}

.auth-options {
  margin-top: 20px;
}

.auth-options button {
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
}

.auth-options button.active {
  background-color: #333;
  color: white;
}

.auth-form {
  flex: 1;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-form h2 {
  margin-bottom: 20px;
}

.auth-form form {
  display: flex;
  flex-direction: column;
}

.auth-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.auth-form input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.auth-form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}
