.Sidebar {
    width: 200px; 
    height: 100vh;
    position: fixed; 
    top: 0;
    left: 0;
    background-color: #CAC4D0; 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }

  .profile-section {
    display: flex;
    align-items: center;
    background-color: #ECE6F0; 
    padding: 10px;
    margin-bottom: 10px; 
    border-radius: 20px;
  }
  
  .profile-picture {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    margin-right: 20px; 
    margin-left: 10px;
  }
  
  .username {
    font-size: 18px; 
    color: #615382; 
    font-weight: bold;

  }
  
  .edit-profile-btn {
    background-color: #6750A4;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    width: 100px;
  }
  .menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .bottom-menu{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .menu-item {
    background-color: #ECE6F0; 
    color: #615382; 
    border-radius: 12px;
    border: none;
    padding: 10px;
    margin: 5px 0;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .menu-item img.menu-icon {
    width: 20px; 
    height: 20px; 
    margin-right: 10px;
    padding-left: 10px; 
  }

  .menu-item i {
    margin-right: 10px; 
  }
  
  .menu-item:hover {
    background-color: #4e416b;
    color: white;
  }
  
  .bottom-menu .menu-item i {
    color: white;
  }

  .group-section-box {
    background-color: #ECE6F0; 
    padding: 0px 8px 15px;
    position: relative; /* Ensure the element is positioned relative to its normal position */
    top: -50px; /* Adjust this value to raise the position */
    margin-bottom: 100px;
    border-radius: 20px;
  }
  
  .group-section {
    display: flex;
    flex-direction: column;
  }
  
  .group-title {
    font-size: 16px;
    color: #615382;
    font-weight: bold;
    margin: 10px; /* Remove margin to reduce space above the title */
    text-align: center; /* Center the title text */
    width: 100%; /* Take full width to center it properly */
    display: flex; /* Use flex to align items */
    align-items: center; /* Center items vertically */
  }

  .group-icon {
    width: 24px; /* Adjust size as needed */
    height: 24px; /* Adjust size as needed */
    margin-right: 8px; /* Space between the icon and the title text */
  }
  
  .group-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  
  .scrollable {
    max-height: 200px;  /* Limits height to 200px (adjust as needed) */
    overflow-y: auto;  /* Enables vertical scrolling */
  }
  
  .group-item {
    background-color: #CAC4D0;
    color: #615382;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .group-item:hover {
    background-color: #4e416b;
    color: white;
  }
  
  .no-groups {
    text-align: center;
    color: #615382;
    font-style: italic;
  }