.Sidebar {
    width: 250px; 
    height: 100vh;
    position: fixed; 
    top: 0;
    left: 0;
    background-color: #CAC4D0; 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }
  
  .menu, .bottom-menu {
    display: flex;
    flex-direction: column;
  }
  
  .menu-item {
    background-color: #ECE6F0; 
    color: #615382; 
    border-radius: 12px;
    border: none;
    padding: 10px;
    margin: 5px 0;
    text-align: left;
    cursor: pointer;
  }
  
  .menu-item i {
    margin-right: 10px; 
  }
  
  .menu-item:hover {
    background-color: #4e416b;
    color: white;
  }
  
  .bottom-menu .menu-item i {
    color: white;
  }
  